.text-animation-container-module {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 10vh;
  max-height: fit-content;
  overflow: hidden;
  position: relative;
}

.text-animation-container-module::before {
  content: "";
  position: absolute;
  top: -50%;
  left: -50%;
  width: 50%;
  height: 70%;
  animation: rotate 20s linear infinite;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.text-animation-display {
  font-size: xx-large;
  font-weight: 400;
  text-align: center;
  position: relative;
  z-index: 0;
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
  letter-spacing: 5px;
  padding: 0.2rem;
  border-radius: 15px;
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(5px);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
}

.text-final-char {
  color: #61dafb;
  transition: color 0.3s ease, transform 0.2s ease;
  display: inline-block;
}

.text-final-char:hover {
  transform: translateY(-5px);
  text-shadow: 0 5px 15px rgba(97, 218, 251, 0.5);
}

.text-random-char {
  color: #ff7bac;
  animation: glitch 0.3s infinite;
}

@keyframes glitch {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .text-animation-display {
    padding: 0.5rem;
    font-size: 0.7rem;
  }
}

@media (max-width: 480px) {
  .text-animation-display {
    padding: 1rem;
    font-size: 1rem;
  }
}
